@use "../../../../node_modules/flexslider/flexslider.css";

.flex-direction-nav a{
  height:50px!important;
  width:50px!important;
}

.vimeotheque-series {
  &.playlist {
    &.carousel {

      .video-item{
        width:100%;
        max-width: 100%;
        display: block;
        position: relative;
        cursor: pointer;
        border:0px #000000 solid;
        box-sizing: border-box;

        &.active-video{
          border-color: rgba(213, 13, 13, 0.36);
        }

        .video-title,
        .video-duration{
          display: inline-block;
          position: absolute;
          top: 10px;
          left:10px;
          background:rgba(0, 0, 0, 0.5);
          color: #FFFFFF;
          font-size: .8em;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 90%;
          overflow: hidden;
          padding: 1px 7px;
          line-height: 1.5em!important;
          border-radius: 2px;
        }

        .video-duration{
          top:auto;
          bottom:10px;
          left:auto;
          right: 10px;
          font-size: .7em;
        }

        img{
          margin:0!important;
          padding: 0!important;
          border:none!important;
          border-radius: 0!important;
          width:100%!important;
          max-width: 100%!important;
          height: auto!important;
        }

        &.no-thumbnail{
          background-color: #e0e0e0;
        }
      }
    }
  }
}

