.content-select{
  &.container{

    &.posts-select{
      display:block;
      position: absolute;
      width: 97%;
      height: 90%;
      overflow: auto;
    }

    .step-1{
      text-align: center;

      h2{
        margin-bottom: 50px;
      }

      .components-button{
        &.is-link{
          display: block;
          margin: 0px auto 15px;
        }
      }

    }

    &.inline{
      h2{
        font-size: 1.5em!important;
        margin: 20px 0!important;

      }
    }

  }
}