@mixin position( $display: block, $position: relative, $top: 0, $left: 0 ){
	display:$display;
	position: $position;

	@if $top != 0 {
		top: $top;
	}
	@if $left != 0 {
		left: $left;
	}
}

@mixin size( $width: 100%, $height: 100%, $overflow: visible ){
	width: $width;
	height: $height;
	@if $overflow {
		overflow: $overflow;
	}
}

@mixin background( $url: '', $color: transparent, $position: center center, $repeat: no-repeat, $size: auto ){
	@if $url != ''{
		background-image: url( $url );
	}
	background-color: $color;
	background-position: $position;
	background-repeat: $repeat;
	background-size: $size;
}

/**
 * Centers an overflowing image within the container
 */
@mixin center-overflow(){
	position: absolute;
	// @see https://stackoverflow.com/questions/14562457/center-oversized-image-in-div/41059954
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

/**
 * Legacy class
 * @deprecated
 */
.cvm_single_video_player{
	background-color:#000;
	background-image:url(../images/loading.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

.vimeotheque-player{
	background-color:#000000;
	background-image:url(../images/loading.gif);
	background-repeat:no-repeat;
	background-position:center center;

	&.portrait{
		overflow: hidden;
	}

	/**
	 * @since 2.0.14	Remove player background once the video has loaded
	 */
	&.loaded{
		background: transparent;
		background-image: none;
	}

	&.align-center{
		margin-left:auto;
		margin-right:auto;
	}

	&.align-right{
		margin-left:auto;
	}

	&.align-left{
		margin-right:auto;
	}

	&.lazy-load{
		background:transparent!important;
		overflow: hidden;

		// Lazy load play video link
		.vimeotheque-load-video{
			@include size();
			@include position();

			outline: none!important;
			box-shadow: none!important;
			border:none !important;

			.icon{
				@include size( 20%, 20% );
				@include position( $position: absolute, $top: 40%, $left: 40% );
				@include background( $url: '../images/play-btn.png', $color: #FF0000, $size: cover );

				max-width:200px;
				max-height:136px;
				min-width:30px;
				min-height:23px;

				border-radius:9px;
			}
		}

		&.portrait{
			img{
				max-width:none!important;
				max-height: 100%!important;
				height:100%!important;

				@include center-overflow;

			}
		}

		&.landscape{
			img{
				max-width:100%;
				width:100%;

				@include center-overflow;
			}
		}

		/**
		 * Managed from JavaScript, solves issues with images
		 * having a different aspect ratio than the video
		 */
		img{
			&.center-horizontal{
				height: 100%;
				width: auto;
				max-width: none;

				@include center-overflow;
			}
		}

	}

	iframe{
		margin:0!important;
		padding:0!important;
		width:100%!important;
		height:100%!important;
		max-width:100%!important;
	}

	// Remove FitVids styling from the player
	.fluid-width-video-wrapper {
		padding-top: 0px!important;
		height: 100%!important;
	}
}