/**
 * Single video main container.
 */
.vimeotheque-video-post-main{
  &.single{
    width: 100%;

    @import "templates-scss/embed";

    article{
      &.vimeotheque-video-post-content{

        max-width: 1200px;
        padding: 0 10px;
        margin: 0 auto;

        @import "templates-scss/entry-header";

        @import "templates-scss/entry-footer";
      }
    }

    .vimeotheque-comments{
      max-width: 1200px;
      margin: 50px auto;
    }

  }
}

@import "templates-scss/archive";